In [3]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

names_and_dogs_names = zip(names, dogs_names)
list(names_and_dogs_names)

[('Jenny', 'Elphonse'),
 ('Alexus', 'Dr. Doggy DDS'),
 ('Sam', 'Carter'),
 ('Grace', 'Ralph')]

In [11]:
orders = []

orders.append('Tulips')
orders

orders.append('Sunflower')
orders

['Tulips', 'Sunflower']

In [12]:
new = orders + ['Rose']
new

['Tulips', 'Sunflower', 'Rose']

In [17]:
range_1 = range(1,9)
print(list(range_1))

range_2 = range(1,20,2)
print(list(range_2))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

---

Maria is entering customer data for her web design business. You’re going to help her organize her data.

Start by turning this list of customer first names into a list called first_names. Make sure to enter the names in this order:
- Ainsley
- Ben
- Chani
- Depak

In [20]:
first_names = ['Ainsley', "Ben", 'Chani', 'Depak']

In [21]:
age = []
age.append(42)
age

[42]

In [24]:
all_ages = [32,41,29]
all_ages = all_ages + age
all_ages

[32, 41, 29, 42]

In [29]:
name_and_age = zip(first_names, all_ages)
list(name_and_age)

[('Ainsley', 32), ('Ben', 41), ('Chani', 29), ('Depak', 42)]

---

In [30]:
inventory = ['twin bed', 'twin bed', 'headboard', 'queen bed', 'king bed', 'dresser', 'dresser', 'table', 'table', 
             'nightstand', 'nightstand', 'king bed', 'king bed', 'twin bed', 'twin bed', 'sheets', 'sheets', 'pillow', 
             'pillow']

In [31]:
# How many items are in the warehouse?
len(inventory)

19

In [32]:
# first element in inventory
inventory[0]

'twin bed'

In [33]:
# last item from inventory
inventory[-1]

'pillow'

In [34]:
# first threee items from inventory
inventory[:3]

['twin bed', 'twin bed', 'headboard']

In [37]:
# How many 'twin bed's are in inventory?
inventory.count('twin bed')

4

---

We are going to calculate the length of a list and then append the value to the end of the list. 

Create a function called append_size that has one parameter named lst.

The function should append the size of lst (inclusive) to the end of lst. The function should then return this new list.

For example, if lst was [23, 42, 108], the function should return [23, 42, 108, 3] because the size of lst was originally 3.

In [12]:
def append_size(lst):
    lst.append(len(lst))
    return lst

In [13]:
append_size([23, 42, 108])

[23, 42, 108, 3]

---

Let’s create a function that calculates the sum of the last two elements of a list and appends it to the end. After doing so, it will repeat this process two more times and return the resulting list. You can choose to use a loop or manually use three lines. 

Write a function named append_sum that has one parameter — a list named named lst.

The function should add the last two elements of lst together and append the result to lst. It should do this process three times and then return lst.

For example, if lst started as [1, 1, 2], the final result should be [1, 1, 2, 3, 5, 8].

In [31]:
def append_sum(lst):
    lst.append(lst[-1] + lst[-2])
    lst.append(lst[-1] + lst[-2])
    lst.append(lst[-1] + lst[-2])
    return lst

In [32]:
append_sum([1, 1, 2])

[1, 1, 2, 3, 5, 8]

---

Let’s say we are working with two conveyor belts that contain items represented by a numerical ID. If one conveyor belt contains more items than the other, then we need to return the ID of the last item on that belt. In the case where they have the same number of items, return the last item from the first conveyor belt. In our code, we can represent the belts using lists.

Write a function named larger_list that has two parameters named lst1 and lst2.

The function should return the last element of the list that contains more elements. If both lists are the same size, then return the last element of lst1.

In [39]:
def larger_list(lst1, lst2):
    if len(lst1) >= len(lst2):
        return lst1[-1]
    else:
        return lst2[-1]

In [40]:
larger_list([4, 10, 2, 5], [-10, 2, 5, 10])

5

---

Our factory produces a variety of different flavored snacks and we want to check the number of instances of a certain type. We have a conveyor belt full of different types of snacks represented by different numbers. Our function will accept a list of numbers (representing the type of snack), a number for the second parameter (the type of snack we are looking for), and another number as the third parameter (the maximum number of that type of snack on the conveyor belt). The function will return True if the snack we are searching for appears more times than we provided as our third parameter.

Create a function named more_than_n that has three parameters named lst, item, and n.

The function should return True if item appears in the list more than n times. The function should return False otherwise.

In [43]:
def more_than_n(lst, item, n):
    if lst.count(item) > n:
        return True
    else:
        return False

In [44]:
more_than_n([2, 4, 6, 2, 3, 2, 1, 2], 2, 3)

True

---

Create a function that combines two different lists together and then sorts them. To do this we can combine the lists with an operation and then sort using a function call. 

Write a function named combine_sort that has two parameters named lst1 and lst2.

The function should combine these two lists into one new list and sort the result. Return the new sorted list.

In [63]:
def combine_sort(lst1, lst2):
    lst = lst1 + lst2
    sorted_list = sorted(lst)
    return sorted_list

In [64]:
combine_sort([4, 10, 2, 5], [-10, 2, 5, 10])

[-10, 2, 2, 4, 5, 5, 10, 10]

---

A list of numbers up to 100 in increments of 3 starting from a number that is passed to the function as an input parameter.

Create a function called every_three_nums that has one parameter named start.

The function should return a list of every third number between start and 100 (inclusive). For example, every_three_nums(91) should return the list [91, 94, 97, 100]. If start is greater than 100, the function should return an empty list.

In [93]:
def every_three_nums(start):
    return list(range(start, 101, 3))

In [94]:
every_three_nums(91)

[91, 94, 97, 100]

---

Our next function will remove all elements from a list with an index within a certain range. The function will accept a list, a starting index, and an ending index. All elements with an index between the starting and ending index should be removed from the list.

Create a function named remove_middle which has three parameters named lst, start, and end.

The function should return a list where all elements in lst with an index between start and end (inclusive) have been removed.

In [30]:
def remove_middle(lst, start, end):
    return lst[:start] + lst[end+1:]

In [31]:
remove_middle([4, 8, 15, 16, 23, 42], 1, 3)

[4, 23, 42]

---

We have a conveyor belt of items where each item is represented by a different number. We want to know, out of two items, which one shows up more on our belt. To solve this, we can use a function with three parameters. One parameter for the list of items, another for the first item we are comparing, and another for the second item. 

Create a function named more_frequent_item that has three parameters named lst, item1, and item2.

Return either item1 or item2 depending on which item appears more often in lst.

If the two items appear the same number of times, return item1.

In [32]:
def more_frequent_item(lst, item1, item2):
    if lst.count(item1) >= lst.count(item2):
        return item1
    else:
        return item2

In [33]:
more_frequent_item([2, 3, 3, 2, 3, 2, 3, 2, 3], 2, 3)

3

---

Our next function will double a value at a given position. We will provide a list and an index to double. This will create a new list by replacing the value at the index provided with double the original value. If the index is invalid then we should return the original list. 

Create a function named double_index that has two parameters: a list named lst and a single number named index.

The function should return a new list where all elements are the same as in lst except for the element at index. The element at index should be double the value of the element at index of the original lst.

If index is not a valid index, the function should return the original list.

In [38]:
def double_index(lst, index):
    # Checks to see if index is too big
    if index >= len(lst):
        return lst
    else:
        # Gets the original list up to index
        new_lst = lst[0:index]
    # Adds double the value at index to the new list 
    new_lst.append(lst[index]*2)
    #  Adds the rest of the original list
    new_lst = new_lst + lst[index+1:]
    return new_lst

In [39]:
double_index([3, 8, -10, 12], 2)

[3, 8, -20, 12]

---

We are going to create a function that calculates the median of a list of values. This means that it gets the exact middle value in the case of an odd number of elements. If there is an even number of elements, it returns the average of the middle two elements. 

Create a function called middle_element that has one parameter named lst.

If there are an odd number of elements in lst, the function should return the middle element. If there are an even number of elements, the function should return the average of the middle two elements.

In [62]:
def middle_element(lst):
    if len(lst)%2 == 0:
        sum = lst[int(len(lst)/2)] + lst[int(len(lst)/2) - 1]
        return sum/2
    else:
        return lst[int(len(lst)/2)]

In [63]:
middle_element([5, 2, -10, -4, 4, 5])

-7.0