In [1]:
def dave_check(user_name):
    if user_name == "Dave":
        print("stay off my computer")
    if user_name == "angela_catlady_87":
        print("i know it is you, Dave! Go away!")

In [2]:
dave_check("Dave")

stay off my computer

In [3]:
dave_check("angela_catlady_87")

i know it is you, Dave! Go away!

In [4]:
def greater_than(x, y):
    if x > y:
        return x
    if y > x:
        return y
    if x == y:
        return "These numbers are the same"

In [5]:
greater_than(100, 250)

250

---

### Calvin College
[If/Else/Elif Practices]

The nearby college, Calvin Coolidge’s Cool College (or 4C, as the locals call it) requires students to earn 120 credits to graduate. Write an if statement that checks if the student has enough credits to graduate.

In [6]:
def graduation_requirement(credits):
    if credits >= 120:
        return "You have enough credits to graduate!"

In [7]:
graduation_requirement(150)

'You have enough credits to graduate!'

Turns out 120 credits aren’t the only graduation requirement, you also need to have a GPA of 2.0 or higher. Rewrite the if statement so that it checks to see if a student meets both requirements using an and statement.

In [8]:
def graduation_requirement(credit, gpa):
    if credit >= 120 and gpa >= 2.00:
        return "You meet the requirements to graduate!"

In [9]:
graduation_requirement(150, 3.00)

'You meet the requirements to graduate!'

The registrar’s office at Calvin Coolidge’s Cool College has another request. They want to send out a mailer with information on the commencement ceremonies to students who have met at least one requirement for graduation (120 credits and 2.0 GPA). Write an if statement that checks if a student either has 120 or more credits or a GPA 2.0 or higher

In [10]:
def graduation_requirement(credit, gpa):
    if credit >= 120 or gpa >= 2.00:
        return "You have met at least one of the requirements."

In [11]:
graduation_requirement(100, 3.00)

'You have met at least one of the requirements.'

The registrar’s office at Calvin Coolidge’s Cool College has been so impressed with your work so far that they have another task for you. They want you to return to a previous if statement and add in several checks using and and not statements:
* If a student’s credits is not greater or equal to 120
* If their gpa is not greater or equal to 2.0
* If their credit is not greater than or equal to 120 and their gpa is not greater than or equal to 2.0

Make sure your return value matches those strings exactly. Capitalization, punctuation, and spaces matter!

In [12]:
def graduation_requirement(credit, gpa):
    if not credit >= 120:
        print("You do not have enough credits to graduate.")
    if not gpa >= 2.00:
        print("Your GPA is not high enough to graduate.")
    if not credit >= 120 and not gpa >= 2.00:
        print("You do not meet either requirement to graduate!")

In [13]:
graduation_requirement(120, 1.00)

Your GPA is not high enough to graduate.

Calvin Coolidge’s Cool College has another request for you. They want you to add an additional check to a previous if statement. If a student is failing to meet both graduation requirements, they want it to print: "You do not meet the requirements to graduate."

In [14]:
def graduation_requirement(credit, gpa):
    if (credit >= 120) and (gpa >= 2.0):
        print("You meet the requirements to graduate!")
    else:
        return "You do not meet the requirements to graduate."

In [15]:
graduation_requirement(120, 2.00)

You meet the requirements to graduate!

Calvin Coolidge’s Cool College has noticed that students prefer to get letter grades. Write an if/elif/else statement that:
- If grade is 90 or higher, print "A"
- Else if grade is 80 or higher, print "B"
- Else if grade is 70 or higher, print "C"
- Else if grade is 60 or higher, print "D"
- Else, print "F"

In [16]:
def student_grade(grade):
    if grade >= 90:
        return "A"
    elif grade >= 80:
        return "B"
    elif grade >= 70:
        return "C"
    elif grade >= 60:
        return "D"
    else:
        return "F"

In [17]:
student_grade(85)

'B'

---

We are going to create a method that tests whether the result of taking the power of one number to another number provides an answer which is greater than 5000. We will use a conditional statement to return True if the result is greater than 5000 or return False if it is not.

Create a function named large_power() that takes two parameters named base and exponent. If base raised to the exponent is greater than 5000, return True, otherwise return False.

In [18]:
def large_power(base, exponent):
    if base ** exponent > 5000:
        return True
    else:
        return False

In [19]:
large_power(2, 13)

True

In [20]:
large_power(2, 12)

False

---

Let’s say we are trying to save some money and we are watching our budget. We need to make sure that the result of our spending is less than the total amount we have allocated for each of the categories. Our function will accept a parameter called budget which describes our spending limit. The next four parameters describe what we are spending our money on. We need to sum all of our spendings and compare it to the budget. If we have gone over budget, we will return True. Otherwise we return False.

Create a function called over_budget that has five parameters named budget, food_bill, electricity_bill, internet_bill, and rent.

The function should return True if budget is less than the sum of the other four parameters — you’ve gone over budget! Return False otherwise.

In [21]:
def over_budget(budget, food_bill, electricity_bill, internet_bill, rent):
    total_bill = food_bill + electricity_bill + internet_bill + rent
    if budget < total_bill:
        return True
    else:
        return False

In [22]:
print(over_budget(100, 20, 30, 10, 40))

False

In [23]:
print(over_budget(80, 20, 30, 10, 30))

True

---

We will determine if one number is twice as large as another number. To do this, we will compare the first number with two times the second number.

Create a function named twice_as_large() that has two parameters named num1 and num2.

Return True if num1 is more than double num2. Return False otherwise.

In [24]:
def twice_as_large(num1, num2):
    if num1 > (num2 * 2):
        return True
    else:
        return False

In [25]:
print(twice_as_large(10, 5))

False

In [26]:
twice_as_large(11, 5)

True

---

We are going to create a function that determines whether or not a number is divisible by ten. A number is divisible by ten if the remainder of the number divided by 10 is 0.

Create a function called divisible_by_ten() that has one parameter named num.

The function should return True if num is divisible by 10, and False otherwise. Consider using modulo (%) to check for divisibility.

In [27]:
def divisible_by_ten(num):
    calc = num % 10
    if calc == 0:
        return True
    else:
        return False

In [28]:
print(divisible_by_ten(20))

True

In [29]:
divisible_by_ten(25)

False

---

We are going to check if the summation of two inputs does not equal ten. Our function will accept two inputs and add them together. If the two numbers added together are not equal to ten, then we will return True, otherwise, we will return False.

Create a function named not_sum_to_ten() that has two parameters named num1 and num2.

Return True if num1 and num2 do not sum to 10. Return False otherwise.

In [30]:
def not_sum_to_ten(num1, num2):
    total = num1 + num2
    if total != 10:
        return True
    else:
        return False

In [31]:
not_sum_to_ten(9, -1)

True

In [32]:
not_sum_to_ten(9, 1)

False

In [33]:
not_sum_to_ten(5,5)

False

---

We will accept three parameters where the first parameter is the number we are testing, the second parameter is the lower bound and the third parameter is the upper bound of our range.

Create a function named in_range() that has three parameters named num, lower, and upper.

The function should return True if num is greater than or equal to lower and less than or equal to upper. Otherwise, return False.

In [34]:
def in_range(num, lower, upper):
    if num >= lower and num <= upper:
        return True
    else:
        return False

In [35]:
in_range(10, 10, 10)

True

In [36]:
in_range(5, 10, 20)

False

---

We need to write a program that checks different names and determines if they are equal. We need to accept two strings and compare them. 

Create a function named same_name() that has two parameters named your_name and my_name.

If our names are identical, return True. Otherwise, return False.

In [37]:
def same_name(your_name, my_name):
    if your_name == my_name:
        return True
    else:
        return False

In [38]:
same_name("Colby", "Colby")

True

In [39]:
same_name("Tina", "Amber")

False

---

There are some situations that you normally want to avoid when programming using conditional statements. One example is a contradiction. This occurs when your condition will always be false no matter what value you pass into it. Let’s create an example of a function that contains a contradiction. 

Create a function named always_false() that has one parameter named num.

Using an if statement, your variable num, and the operators >, and <, make it so your function will return False no matter what number is stored in num.

An if statement that is always false is called a contradiction. You will rarely want to do this while programming, but it is important to realize it is possible to do this.

In [40]:
def always_false(num):
    if num > 0 and num < 0:
        return True
    else:
        return False

In [41]:
always_false(0)

False

In [42]:
always_false(-1)

False

In [43]:
always_false(1)

False

---

We want to create a function that will help us rate movies. Our function will split the ratings into different ranges and tell the user how the movie was based on the movie’s rating.

Create a function named movie_review() that has one parameter named rating.

If rating is less than or equal to 5, return "Avoid at all costs!". If rating is between 5 and 9, return "This one was fun.". If rating is 9 or above, return "Outstanding!"

In [44]:
def movie_review(rating):
    if rating <= 5:
        return "Avoid at all costs!"
    elif rating >= 9:
        return "Outstanding!"
    else:
        return "This one was fun."

In [45]:
movie_review(9)

'Outstanding!'

In [46]:
movie_review(4)

'Avoid at all costs!'

In [47]:
movie_review(6)

'This one was fun.'

---

We are going to select which number from three input values is the greatest using conditional statements. To do this, we need to check the different combinations of values to see which number is greater than the other two. 

Create a function called max_num() that has three parameters named num1, num2, and num3.

The function should return the largest of these three numbers. If any of two numbers tie as the largest, you should return "It's a tie!".

In [48]:
def max_num(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        return num1
    elif num2 > num1 and num2 > num3:
        return num2
    elif num3 > num1 and num3 > num2:
        return num3
    else:
        return "It's a tie!"

In [49]:
max_num(-10, 0, 10)

10

In [50]:
max_num(-10, 5, -30)

5

In [51]:
max_num(-5, -10, -10)

-5

In [52]:
max_num(2, 3, 3)

"It's a tie!"