In [1]:
dog_breeds = ['french_bulldog', 'dalmatian', 'shihtzu', 'poodle', 'collie']

for breed in dog_breeds:
    print(breed)

french_bulldog
dalmatian
shihtzu
poodle
collie

In [3]:
board_games = ['Settlers of Catan', 'Carcassone', 'Power Grid', 'Agricola', 'Scrabble']

for game in board_games:
    print(game)

Settlers of Catan
Carcassone
Power Grid
Agricola
Scrabble

In [2]:
sport_games = ['football', 'football - American', 'hockey', 'baseball', 'cricket']

for game in sport_games:
    print(game)

football
football - American
hockey
baseball
cricket

In [4]:
students_period_A = ["Alex", "Briana", "Cheri", "Daniele"]
students_period_B = ["Dora", "Minerva", "Alexa", "Obie"]

for student in students_period_A:
    students_period_B.append(student)
    print(student)

Alex
Briana
Cheri
Daniele

In [5]:
items_on_sale = ["blue_shirt", "striped_socks", "knit_dress", "red_headband", "dinosaur_onesie"]
 
print("Checking the sale list!")

for item in items_on_sale:
    print(item)
    if item == "knit_dress":
        break
        
print("End of search!")

Checking the sale list!
blue_shirt
striped_socks
knit_dress
End of search!

In [6]:
dog_breeds_available_for_adoption = ['french_bulldog', 'dalmatian', 'shihtzu', 'poodle', 'collie']
dog_breed_I_want = 'dalmatian'

for dog in dog_breeds_available_for_adoption:
    print(dog)
    if dog == dog_breed_I_want:
        print("They have the dog I want!")
        break

french_bulldog
dalmatian
They have the dog I want!

In [7]:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]
 
for i in big_number_list:
    if i < 0:
        continue
    print(i)

1
2
4
5
2

In [8]:
ages = [12, 38, 34, 26, 21, 19, 67, 41, 17]

for age in ages:
    if age < 21:
        continue
    print(age)

38
34
26
21
67
41

In [9]:
dog_breeds = ['bulldog', 'dalmation', 'shihtzu', 'poodle', 'collie']
 
index = 0
while index < len(dog_breeds):
    print(dog_breeds[index])
    index += 1

bulldog
dalmation
shihtzu
poodle
collie

In [10]:
all_students = ["Alex", "Briana", "Cheri", "Daniele", "Dora", "Minerva", "Alexa", "Obie", "Arius", "Loki"]
students_in_poetry = []

while len(students_in_poetry) < 6:
    student = all_students.pop()
    students_in_poetry.append(student)

print(students_in_poetry)

['Loki', 'Arius', 'Obie', 'Alexa', 'Minerva', 'Dora']

In [13]:
project_teams = [["Ava", "Samantha", "James"], ["Lucille", "Zed"], ["Edgar", "Gabriel"]]

for team in project_teams:
    for student in team:
        print(student)

Ava
Samantha
James
Lucille
Zed
Edgar
Gabriel

In [14]:
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]
scoops_sold = 0

for location in sales_data:
    print(location)
    for element in location:
        scoops_sold += element

print(scoops_sold)

[12, 17, 22]
[2, 10, 3]
[5, 12, 13]
96

In [3]:
words = ["@coolguy35", "#nofilter", "@kewldawg54", "reply", "timestamp", "@matchamom", "follow", "#updog"]
usernames = []
 
for word in words:
    if word[0] == '@':
        usernames.append(word)
        
print(usernames)

['@coolguy35', '@kewldawg54', '@matchamom']

In [9]:
usernames = [word for word in words]
print(usernames)

['@coolguy35', '#nofilter', '@kewldawg54', 'reply', 'timestamp', '@matchamom', 'follow', '#updog']

In [10]:
usernames = [word for word in words if word[0] == '@']
print(usernames)

['@coolguy35', '@kewldawg54', '@matchamom']

In [15]:
usernames = [word for word in words if word[0] == '@']
messages = [user + " please follow me!" for user in usernames]
print(messages)

['@coolguy35 please follow me!', '@kewldawg54 please follow me!', '@matchamom please follow me!']

In [12]:
heights = [161, 164, 156, 144, 158, 170, 163, 163, 157]
can_ride_coaster = [height for height in heights if height > 161]
print(can_ride_coaster)

[164, 170, 163, 163]

In [17]:
my_upvotes = [192, 34, 22, 175, 75, 101, 97]

updated_upvotes = [vote_value + 100 for vote_value in my_upvotes]
updated_upvotes

[292, 134, 122, 275, 175, 201, 197]

In [18]:
celsius = [0, 10, 15, 32, -5, 27, 3]

fahrenheit = [temp * 9/5 + 32 for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 59.0, 89.6, 23.0, 80.6, 37.4]

In [19]:
single_digits = range(10)
squares = []
cubes= []

for i in single_digits:
    squares.append(i**2)
    cubes.append(i**3)

print(squares)
print(cubes)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [20]:
for i in range(3):
    print(5)

5
5
5

In [21]:
drink_choices = ["coffee", "tea", "water", "juice", "soda"]

for drink in drink_choices:
    print(drink)

coffee
tea
water
juice
soda

In [25]:
i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [27]:
my_list = [5, 10, -2, 8, 20]

desired_list = [i for i in my_list if i > 5]
desired_list

[10, 8, 20]

In [32]:
numbers = [1, 1, 2, 3]

for number in numbers:
    if number % 2 == 0:
        break
    print(number)

1
1

In [33]:
numbers = [1, 1, 2, 3]
for number in numbers:
    if number % 2 == 0:
        continue
    print(number)

1
1
3

In [37]:
desired_list = [i-1 for i in range(5)]
desired_list

[-1, 0, 1, 2, 3]

In [38]:
numbers = [2, 4, 6, 8]

for number in numbers:
    print("hello!")

hello!
hello!
hello!
hello!

In [40]:
nums = [4, 8, 15, 16, 23, 42]

double_nums = [i*2 for i in nums]
double_nums

[8, 16, 30, 32, 46, 84]